
# Godot-specific ignores
.import/
export.cfg
.godot/
.godot/imported/
.godot/editor/
*.translation
addons/**/*.import

# Mono-specific ignores
.mono/
data_*/
*.old

**/autosave/

# MAC DEVELOPMENT!!!!!!!!!!
.DS_Store

# VSCODE DEV
# not really but when opening files it still saves a settings file that I want ignored
.vscode/

# These always appear and it ticks me off
addons/godot-jolt/windows/~godot-jolt_windows-x64_editor.dll
addons/limboai/bin/~liblimboai.windows.editor.x86_64.dll

